.App {
  background-color: #F1F5F8;
  /* box-shadow: 0 5px 15px rgb(0 0 0 / 10%); */
  
  /* margin: 8rem auto 0; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
